<header class="container-fluid bg-light">
    <button class="navbar-toggler sidenav-menu-icon d-md-none d-lg-none d-block" type="button" (click)="toggleSidenav()">
        <span class="navbar-toggler-icon">
            <img src="../../../assets/images/menu-icon.png" alt="" />
        </span>
      </button>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand"></a>
          <button class="navbar-toggler"  (click)="toggleNavbar()" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse flex-column"  [ngClass]="menuActive ? 'menu-collapse' : ''" id="navbarSupportedContent">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-md-block d-lg-flex d-block justify-content-between align-items-center">
                        <div class="create-btn">
                            <button class="btn btn-success">
                                Create +
                            </button>
                        </div>
                        <div class="my-2 my-md-0 my-lg-0">
                            <input type="text" class="form-control" />
                        </div>
                        <div class="my-2 my-md-0 my-lg-0">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                <!-- <label class="form-check-label" for="flexSwitchCheckChecked">Dark</label> -->
                              </div>
                        </div>
                        <div class="my-2 my-md-0 my-lg-0">
                            <ul class="list-inline mb-0 settings-list">
                                <li class="list-inline-item">
                                    <a href="#" class="rounded-circle text-center notification-panel position-relative">
                                        <span>2</span>
                                        <img src="../../../assets/images/bell-icon.png" alt="" />
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="rounded-circle text-center">
                                        <img src="../../../assets/images/question-mark-icon.png" alt="" />
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="rounded-circle text-center">
                                        <img src="../../../assets/images/heading-settings-icon.png" alt="" />
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" class="rounded-circle text-center">
                                        <img src="../../../assets/images/download-icon.png" alt="" />
                                    </a>
                                </li>
                              </ul>
                        </div>
                        <div class="profile">
                            {{profile}}
                            <img src="../assets/images/user-profile.png" />
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </nav>
   
</header>