.eternal-panel {
    background: #2485C7;
    padding: 10px;    
    margin-top: -80px;
        h5 {
            font-size: 40px;
            font-weight: 600;
        }
        h4{
            font-size: 24px;
            font-weight: 600;
        }
}